* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body { 
    background-color: rgba(113, 127, 207, 0.753);
}

main {
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(80, 80, 80, 0.459);
}

img.lado {
    float: right;
}

.video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* dá proporção 16:9, padrão do YouTube */
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-voltar { 
    margin-top: 25px;
}